################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**.vs
/3-party
**/out/**
/java-code/m2core/.idea
/java-code/m2license/.idea
