################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**.vs
/3-party
**/out/**
**.idea
