################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c-code-testing/test-convert/.vs
/3-party
/c-code-testing/test-convert/out/build
