<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="no.auke.p2p.m2.workers.keepalive" level="INFO"/> 
<!--   	<logger name="no.auke.p2p.m2.workers.ComChannel4" level="DEBUG"/> -->
<!-- 	<logger name="no.auke.p2p.m2.workers.io" level="DEBUG"/>	 -->
	
 	    <logger name="no.auke.p2p.m2.workers.chunking" level="TRACE"/>
	<logger name="no.auke.p2p.m2.workers.chunking.SpeedCalc3" level="TRACE"/> 
	<logger name="no.auke.p2p.m2.workers.chunking.DelaySpeed" level="TRACE"/>
 	<logger name="no.auke.p2p.m2.workers.chunking.SpeedTester" level="TRACE"/>
				

	
<!-- 	<logger name="no.auke.p2p.m2.workers" level="DEBUG"/>   -->
	
<!-- 	<logger name="no.auke.p2p.m2.workers.PeerPeerAgent" level="DEBUG"/>  -->
<!-- 	<logger name="no.auke.p2p.m2.workers.message" level="DEBUG"/>	 -->
    
<!-- 	<logger name="no.auke.m2.core.conversation.Voice" level="DEBUG"/>  -->
	
<!-- 	<logger name="no.auke.m2.core.streaming" level="DEBUG"/>  -->
<!-- 	<logger name="no.auke.m2.core.conversation" level="DEBUG"/>  -->
	
	
<!-- 	<logger name="no.auke.p2p.m2.workers.encryption" level="DEBUG"/> -->
		
<!--     <logger name="no.auke.p2p.m2.workers.keepalive" level="DEBUG"></logger> -->
    
<!-- 	<logger name="no.auke.p2p.m2.workers.ComChannel3" level="DEBUG"/> -->
	
<!-- 	<logger name="no.auke.p2p.m2.StreamSocket" level="DEBUG"/> -->
<!-- 	<logger name="no.auke.p2p.m2.StreamSocketListener" level="DEBUG"/> -->
		
   
<!-- 	<logger name="no.auke.m2.core.conversation" level="DEBUG"/> -->
	
<!-- 	<logger name="no.auke.m2.core.streaming" level="TRACE"/> -->
	
<!--     <logger name="no.auke.m2" level="INFO"/>  -->
	
<!-- 		<logger name="no.auke.m2.core.conversation.call" level="INFO"/> -->
<!-- 		<logger name="no.auke.m2.core.conversation.MemberSendTask" level="INFO"/> -->
<!-- 		<logger name="no.auke.p2p.m2.workers.task" level="INFO"/> -->
<!--  		<logger name="no.auke.p2p.m2.workers.keepalive.KeepAliveAgent" level="DEBUG"></logger>  -->
<!--  		<logger name="no.auke.p2p.m2.workers.keepalive.KeepAlivePool" level="DEBUG"></logger>  -->
 				
	
	
<!-- 	<logger name="no.auke.m2.core.storage.MemberDirectory" level="DEBUG"/> -->
<!-- 	<logger name="no.auke.m2.directory" level="DEBUG"/> -->
	
		 
<!--     <logger name="no.auke.m2.core.NetSpaceMessageTrans" level="INFO"/>  -->
<!--     <logger name="no.auke.m2.core.NetSpaceService" level="INFO"/>  -->
<!--     <logger name="no.auke.m2.core.storage" level="INFO"/> -->
<!--     <logger name="no.auke.m2.gui" level="INFO"/>  -->

 	
<!-- 	<logger name="no.auke.p2p.m2.sockets" level="INFO"></logger> -->
<!-- 	<logger name="no.auke.p2p.m2.workers.encryption" level="INFO"></logger> -->

<!-- 	<logger name="no.auke.p2p.m2.sockets" level="INFO"/> -->
<!-- 	<logger name="no.auke.p2p.m2.workers" level="INFO"/> -->
    
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
 

</configuration>