//debug level
//DEBUG_LEVEL : 1
// Max speed in kb pr. second 
//MAX_SPEED : 500
// Minimum speed in kb pr. second 
//MIN_SPEED : 25
// Fixed speed in kb pr. second 
//FIXED_SPEED : 0
// Minimum wait for resend pr. chunk. (ms)
//SEND_RESEND_TIMEOUT : 1500
// Max number of chunk resend times
//CHUNK_RESENDS : 5
// Maximum abort timeout complete pr. chunk. (ms)
//SEND_ABORT_TIMEOUT : 3000
// Timeout recieve, receiving is aborted if no data arrives in this timeframe (ms)
//RECIEVE_TIMEOUT : 30000
// Simulate 1 packets loss pr. number of packets (ms) (for testing purpose) 
//PACKET_LOSS_SIMULATE : 0
// Use direct connect, try to connect to last know IP address without lookup to KA serveres
//PEER_DO_DIRECT_CONNECT : true
// Direct connect timeout, time frame tryning to do direct connect before normal lookup (ms)
//PEER_DIRECT_CONNECT_TIMEOUT : 2000
// Time for waiting for request responce from KA (the time it tak to find the other peer and reply result
//REQUEST_RESPONSE_KA_TIMEOUT : 3000
// Time for waiting for request responce from KA (the time it tak to find the other peer and reply result
//REQUEST_RESPONSE_MIDDLEMAN_TIMEOUT : 5000
// Time frame between each packet when tryning to send hole punching packets (ms) -> (ddos delay)
//CONNECT_PING_DELAY : 250
// Max time try to connect (ms)
//PEER_CONNECT_TIMEOUT : 10000
// peer ping time (ms)
//PEER_PING_TIME : 30000
// peer reply ping time (ms)
//PEER_PING_REPLY_TIME : 5000
// peer no ping timeout (ms)
//PEER_TIMEOUT : 120000
// peer no data timeout (ms)
//PEER_DATA_TIMEOUT : 900000
// Close session when fail sending
//PEER_SESSION_CLOSE_ON_FAIL : false
// do session encryption
//DO_SESSION_ENCYPTION : true
// timeout for init encryption between to peers
//INIT_PEER_ENCRYPTION_TIMEOUT : 7000
// Frequesny sending session encryption pings
//PING_FREQUENCY_NOT_ENCRYPTING : 150
// Max open messages in a ocket at then same time
//MAX_INCOMMING_MESSAGES : 500
