<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
<!-- 		<logger name="no.auke.p2p.m2.workers.keepalive" level="DEBUG"/>     -->
	  		
<!-- 	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
    
<!--     <file>m2peerserver.log</file> -->
    
<!--     <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!--       <fileNamePattern>m2peerserver.%i.log.zip</fileNamePattern> -->
<!--       <minIndex>1</minIndex> -->
<!--       <maxIndex>2</maxIndex> -->
<!--     </rollingPolicy> -->
    
<!--     <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!--       <maxFileSize>1MB</maxFileSize> -->
<!--     </triggeringPolicy> -->
    
<!-- 	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> -->
<!--       <Pattern>%d{HH:mm:ss.SSS} %level [%thread] [[%logger line:%line] - %msg%n</Pattern> -->
<!--     </encoder>   -->
<!--   	</appender> -->

<!-- 		<logger name="no.auke.p2p.m2" level="INFO"/>    -->
<!-- 	 	<logger name="no.auke.p2p.m2.workers.encryption" level="DEBUG"></logger> -->
<!-- 	 	<logger name="no.auke.p2p.m2.Socket" level="DEBUG"></logger> -->
<!-- 	 	<logger name="no.auke.p2p.m2.workers.chunking" level="DEBUG"></logger> -->
	 		
	
<!-- 	<logger name="no.auke.p2p.m2.workers.encryption" level="TRACE"/>    -->

<!-- 	<logger name="no.auke.p2p.m2.workers.ComChannel2" level="TRACE"/>  -->
	
<!-- 	<logger name="no.auke.p2p.m2.StreamSocket" level="INFO"/>   -->
<!--  	<logger name="no.auke.p2p.m2.workers.PeerPeerAgent" level="INFO"></logger>  -->

<!-- 	<logger name="no.auke.p2p.m2.workers.SocketBufferIncoming" level="DEBUG"/>  -->
<!--    <logger name="no.auke.p2p.m2.workers.SocketBufferOutgoing2" level="DEBUG"/> -->
        
<!-- 	<logger name="no.auke.p2p.m2.timing.SendStatistics" level="DEBUG"/>  -->
<!-- 	<logger name="no.auke.p2p.m2.timing.SpeedCalc2" level="INFO"/>      -->

<!--     <logger name="no.auke.p2p.m2.workers.ChunkOutgoing2" level="DEBUG"/> -->

<!--     <logger name="no.auke.p2p.m2.PeerServer" level="DEBUG"/>     -->
<!--     <logger name="no.auke.p2p.m2.Socket" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.workers.SocketBuffer" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.workers.SocketBufferIncoming" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.workers.ChunkIncoming" level="INFO"/> -->
	
    
<!--     <logger name="no.auke.p2p.m2.sockets.ITransactionSocket" level="TRACE"/> -->
<!--     <logger name="no.auke.p2p.m2.sockets.SyncSession" level="TRACE"/> -->

<!--     <logger name="no.auke.p2p.m2.sockets.IAsyncSocket" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.sockets.ISocketPortListen" level="TRACE"/> -->
<!--     <logger name="no.auke.p2p.m2.sockets.ISyncDefaultTrans" level="TRACE"/> -->

<!--     <logger name="no.auke.p2p.m2.workers.ChunkIncoming" level="DEBUG"/> -->
    
<!--     <logger name="no.auke.p2p.m2.workers.ChunkOutgoing" level="DEBUG"/> -->

<!--     <logger name="no.auke.p2p.m2.workers.KeepAlivePool" level="DEBUG"></logger> -->
<!--     <logger name="no.auke.p2p.m2.workers.KeepAliveAgent2" level="DEBUG"></logger> -->
	
 	
<!-- 	<logger name="no.auke.p2p.m2.workers.MessageListener" level="DEBUG"></logger> -->  
    
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
 

</configuration>